*{
    margin: 0;
    padding: 0;
}

#clearfix{
    clear: both;
}

.whole-body{
    width: 90%;
    margin: 0 auto;
}

header{
    background-color:#E66F28 ;
    color: white;
    text-align: center;
    font-size: 60px;
    border-radius: 3px;
}

.information{
    width: 80%;
}

.information h2{
    color: #E66F28;
    font-size: 40px;
}

.information p, li{
    text-align: justify;
    color: #d4895d;
    margin: 0 auto;
    width: 80%;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
}

aside{
    float: right;
    width: 20%;
    height: 100%;
    border:1px solid #d4895d;
    float: right;
}

aside{
    font-size: 25px;
    color: #d4895d;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #E66F28;
    text-align: center;
    color: white;
    border-radious: 3px;
}

footer a{
    text-decoration: none;
    color: white;
}
